name: medileaf
description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  image_picker: ^1.2.1
  tflite_flutter: ^0.12.1
  image: ^4.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^6.0.0

flutter:
  
  uses-material-design: true
  assets:
    - assets/model/leaf_model.tflite
    - assets/model/labels.txt
